@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(47, 88%, 63%);
  font-family: figtree, arial;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 7%);
  box-shadow: 10px 10px 0px -1px hsl(0, 0%, 7%);
  -webkit-box-shadow: 10px 10px 0px -1px hsl(0, 0%, 7%);
  -moz-box-shadow: 10px 10px 0px -1px hsl(0, 0%, 7%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  width: 370px;
}

.imgBlog svg {
  width: 330px;
  border-radius: 8px;
}

button {
  background-color: hsl(47, 88%, 63%);
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
}

.published {
  font-weight: 500;
  font-size: 1em;
  color: hsl(0, 0%, 7%);
}

.interactive {
  font-weight: 800;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.3s;
}

.interactive:hover {
  color: hsl(47, 88%, 63%);
}

.description {
  font-size: 1em;
  font-weight: 500;
  color: hsl(0, 0%, 50%);
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user img {
  width: 50px;
}

.userName {
  font-weight: 800;
  font-size: 0.9em;
}
